* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  margin-bottom: 15px;
  text-align: center;
  font-size: x-large;
}

.mobile-title {
  margin: 16px 20px;
  text-align: left;
  font-size: large;
  font-family: sans-serif;
}

section {
  position: relative;
  background-color: gray;
  border: 1px solid black;
  margin: 10px;
  height: 150px;
  overflow: hidden;
}

.content {
  margin: 20px;
  background-color: gray;
}

.mobile-header {
  display: none;
}

.header-1,
.header-2,
.header-3 {
  font-size: large;
  text-align: center;
  padding: 2px 20px;
  margin: 0px;
  border: 1px solid #000000;
}

.header-1 {
  background-color: pink;
}

.header-2,
.header-2 > .mobile-header {
  background-color: red;
  color: #ffffff;
}

.header-3 {
  background-color: yellow;
}

.col {
  float: left;
}

.content {
  margin: 2px;
  padding: 4px 8px 4px 8px;
  clear: right;
  overflow: hidden;
  height: 150px;
}

.content:hover {
  overflow-y: scroll;
  cursor: row-resize;
}

.row {
  width: 100%;
}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
  }
  .header-1,
  .header-2,
  .header-3 {
    float: right;
  }
  .title {
    display: block;
  }
  .mobile-title {
    display: none;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
  }
  .header-1,
  .header-2,
  .header-3 {
    float: right;
  }
  .title {
    display: block;
  }
  .mobile-title {
    display: none;
  }
}

/********** Mobile  **********/
@media (max-width: 767px) {
  .title {
    display: none;
  }
  .mobile-title,
  .mobile-header {
    display: inline;
  }
}
