<div class="list-container">
  <table class="table table-responsive table-hover" ng-if="menu_items.found.length > 0">
    <thead>
      <tr>
        <th scope="col">Short Name</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Remove Item</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in menu_items.found">
        <th scope="row">{{ item.short_name }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price_large }}</td>
        <td>
          <button class="btn btn-danger" ng-click="menu_items.onRemove({index: $index});">
            Don't want this one!
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-danger" ng-if="menu_items.found.length === 0">Nothing found</div>
</div>